.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.col {
    max-width: 400px;
    height: auto;
    height: 80%;
}

.movieImg {
    border-radius: 15px;
    background-color: #eb5d5b;
    margin-bottom: 15px;
}

.firstItem {
    margin-top: 0px;
}

p {
    color: #ffd6c4;
    font-size: 1.2rem;
    margin: 15px;
}

@media (max-width: 768px) {
    .movieImg {
        width: 95%;
    }
}