.movieCard {
    list-style: none;
    font-family: sans-serif;
    color: #ffd6c4;
    font-size: 1.2rem;
    text-align: center;
}

.movieCard:hover {
    opacity: 80%;
}

.movieImg {
    border-radius: 10px;
    background-color: #eb5d5b;
}

@media (max-width: 560px) {
    .movieImg {
        width: 90%;
        height: auto;
        justify-content: center;
    }
}